
.App {
  text-align: center;
  font-family:"IBM Plex Sans', sans-serif";
  overflow-x:"hidden"
}
.slide{
  
  animation: scroll 30s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}